<div class="top-bar">
  <div class="wrapper">
    <ul class="navigation">
        <li ui-sref-active="active"><a ui-sref="home" ng-bind="'home' | translate"></a></li>
        <li ui-sref-active="active"><a ui-sref="repairSheet" ng-bind="'repairSheet' | translate"></a></li>
        <li ui-sref-active="active"><a ui-sref="storageMange" ng-bind="'storageMange' | translate"></a></li>
        <li ui-sref-active="active"><a ui-sref="finance" ng-bind="'finance' | translate"></a></li>
        <li ui-sref-active="active"><a ui-sref="peopleList" ng-bind="'peopleList' | translate"></a></li>
    </ul>
  </div>
</div>
