<div class="top-bar">
  <div class="wrapper">
    <ul class="navigation">
        <li ui-sref-active="active"><a ui-sref="AutoRepair.home" ng-bind="'home' | translate"></a></li>
        <li ui-sref-active="active"><a ui-sref="AutoRepair.repairSheet" ng-bind="'repairSheet' | translate"></a></li>
        <li ui-sref-active="active"><a ui-sref="AutoRepair.storageMange" ng-bind="'storageMange' | translate"></a></li>
        <li ui-sref-active="active"><a ui-sref="AutoRepair.finance" ng-bind="'finance' | translate"></a></li>
        <li ui-sref-active="active"><a ui-sref="AutoRepair.peopleList" ng-bind="'peopleList' | translate"></a></li>
    </ul>
  </div>
</div>
