<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.1.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<task:annotation-driven />
	<mvc:annotation-driven />
	<context:component-scan base-package="com.stefanie.autorepair" />

	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<mvc:resources location="/js/" mapping="/js/**"
		cache-period="0" />
	<mvc:resources location="/css/" mapping="/css/**"
		cache-period="0" />
	<mvc:resources location="/images/" mapping="/images/**"
		cache-period="0" />
	<mvc:resources location="/app/" mapping="/app/**"
		cache-period="0" />
	<mvc:resources location="main.js" mapping="main.js"
		cache-period="0" />

	<!-- 获取配置文件 -->
	<bean id="config"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:db-config.properties</value>
			</list>
		</property>
	</bean>
	<!-- 获取数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass"><value>${datasource.dirverClass}</value></property>
		<property name="jdbcUrl"><value>${datasource.url}</value></property>
		<property name="user"><value>${datasource.username}</value></property>
		<property name="password"><value>${datasource.password}</value></property>
		
		<property name="initialPoolSize"><value>${datasource.initialPoolSize}</value></property>
		<property name="maxPoolSize"><value>${datasource.maxPoolSize}</value></property>
		<property name="minPoolSize"><value>${datasource.minPoolSize}</value></property>
		<property name="maxIdleTime"><value>${datasource.maxIdleTime}</value></property>
		<property name="acquireIncrement"><value>${datasource.acquireIncrement}</value></property>
		<property name="acquireRetryAttempts"><value>${datasource.acquireRetryAttempts}</value></property>
		<property name="acquireRetryDelay"><value>${datasource.acquireRetryDelay}</value></property>
		<property name="idleConnectionTestPeriod"><value>${datasource.idleConnectionTestPeriod}</value></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="packagesToScan">
			<list>
				<value>com.stefanie.autorepair.model.entity</value><!-- 扫描实体类，也就是平时所说的model -->
			</list>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- <bean id="commonDao" class="com.mvc.dao.EntityDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean> -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 首页 -->
	<mvc:view-controller path="/" view-name="index" />
	<mvc:resources location="/index.html" mapping="/index.html"
		cache-period="0" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="suffix" value=".html" />
	</bean>
</beans>