*{
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}
.body{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
}
.top-bar{
    text-align: left;
    padding: 5px 0;
    background-color: #584b4f;
    color: #efeae1;
    font-size: 22px;
    height: 60px;
}
.top-bar .navigation {
    display: inline-block;
    margin-left: 13%
}
.navigation .active a{
    color: #81c08b;
}
.top-bar .wrapper{
    margin: 12px auto;
    width: 888px;
}
li {
    display: inline-block;
    padding-right: 5px;
    vertical-align: top;
    margin-left: 20px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.top-bar a {
    color: #efeae1;
}
.top-bar a:hover {
    color: #81c08b;
    text-decoration: none;
}
.top-bar a:focus {
    color: #81c08b;
}
a:active{
    color: #81c08b;
}
.main-page{
    margin: 0 auto;
    width: 80%;
    border: 1px solid #ccc;
    min-height: 800px;
    background-color:white;
}
.body-main{
    background-color: rgb(241, 239, 239);
}
.label-common{
    width: 10%;
    font-size: 20px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
}
.btn-common{
    width: 25%;
    height: 24px;
    display: inline-block;
}
.left-10{
    margin-left: 10%;
}
.required:after{

}
caption{
    text-align: center;
    font-size: 25px;
    color: rgb(51, 51, 51);
}
th{
    text-align: center;
    font-size: 18px;
}
tr{
    text-align: center;
}