*{
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}
.body{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
}
.top-bar{
    text-align: left;
    padding: 5px 0;
    background-color: #584b4f;
    color: #efeae1;
    font-size: 22px;
    height: 60px;
}
.top-bar .navigation {
    display: inline-block;
    margin-left: 13%
}
.navigation .active a{
    color: #81c08b;
}
.top-bar .wrapper{
    margin: 12px auto;
    width: 888px;
}
li {
    display: inline-block;
    padding-right: 5px;
    vertical-align: top;
    margin-left: 20px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.top-bar a {
    color: #efeae1;
}
.top-bar a:hover {
    color: #81c08b;
    text-decoration: none;
}
.top-bar a:focus {
    color: #81c08b;
}
a:active{
    color: #81c08b;
}
.main-page{
    margin: 20px auto;
    width: 90%;
}